{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3 class="mt-5">Expenses</h3>
    {% for expense in expenses %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{expense.name}} </div>
                        <div class="col-md-2">{{expense.amount}}</div>
                        <div class="col-md-2">{{expense.date}}</div>
                        <div class="col-md-2">
                            <span class="bagde badge-pill badge-dark">{{expense.category}}</span>
                        </div>
                        <div class="col-md-2">
                            <a href="/update/{{expense.id}}" class="btn btn-sm btn-success">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a href="/delete/{{expense.id}}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5">Expense Breakdown</h3>

            <div class="card shadow mb-2 bg-whitw rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Food</div>
                        <div id="tfood" class="col-md-6">{{t_food}}</div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-2 bg-whitw rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Entertainment</div>
                        <div class="col-md-6" id="tentertainment">{{t_entertainment}}</div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Business</div>
                        <div class="col-md-6" id="tbusiness">{{t_business}}</div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Other</div>
                        <div class="col-md-6" id="tother">{{t_other}}</div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Total</div>
                        <div class="col-md-6">{{total}}</div>
                    </div>
                </div>
            </div>
        </div>
<!--         
        let food = document.getElementById('tfood')
        let entertainment = document.getElementById('tentertainment')
        let business = document.getElementById('tbusiness')
        let tother = document.getElementById('tother')
 -->

        <div class="col-md-6">
            <h3 class="mt-5">Pie Chart</h3>

            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
              </div>
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              
              <script>
                const ctx = document.getElementById('myChart');
                const food = document.getElementById('tfood').innerHTML;
                const entertainment = document.getElementById('tentertainment').innerHTML;
                const business = document.getElementById('tbusiness').innerHTML;
                const other = document.getElementById('tother').innerHTML;
                console.log(food)
                console.log(entertainment)
                console.log(business)
                console.log(other)
                new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: ['Food', 'Entertainment', 'Business', 'Other'],
                    datasets: [{
                      label: 'Expenses in rupees',
                      data: [food,entertainment,business,other],
                      borderWidth: 1
                    }]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              </script>
              

        </div>
    </div>

</div>


{% endblock %}